$white: #ffffff;
$background: #F5F5F5;
$background-gradient: linear-gradient(135deg, rgba(#242e4d, .9), rgba(#897e79, .9)
);

$primary-cyan: #35c3c1;
$primary-teal: #00d6b7;
$primary-grey: #424242;
$secondary-grey: #636363;
$teal-gradient: linear-gradient(to right, #35c3c1, #00d6b7);

$grey-10: #B1B7C4;
$grey-20: #57585a;

$error: #d3080d;
$success: #0ccd3e;

