.cta-button {
  &--primary {
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    color: white;
    span {
      color: white;
    }
  }
  &--secondary {
    background-color: #424242;
    span {
      color: white;
    }
  }
  &--tertiary {
    span {
      text-decoration: underline;
      color: #00d6b7;
    }
  }
}